---
import CodeBoxed from "../components/icons/CodeBoxed.astro";
---

<div class="w-1/4 text-white">
    <CodeBoxed />
    <div class="mt-5">
        <p class="text-xs leading-none text-sky-600">Deployment</p>
        <p class="text-3xl font-bold leading-none">Deploy your Idea</p>
        <p class="text-wrap font-thin mt-3">Geshk’s core mission is to develop software. Once you’ve got an idea, our team of experienced developers and designers are ready to bring it to life. We specialize in creating custom solutions that not only meet your specific needs but also exceed your expectations. </p>

        <a href="#" class="decoration-dotted underline mt-5">Learn More about development <span class="after:content-['>'] text-sky-600 text-lg font-extrabold"></span></a>
    </div>
</div>