---
import DesignBoxed from "../components/icons/DesignBoxed.astro";
---

<div class="w-1/4 text-white">
    <DesignBoxed />
    <div class="mt-5">
        <p class="text-xs leading-none text-green-700">Design</p>
        <p class="text-3xl font-bold leading-none">Visualization</p>
        <p class="text-wrap font-thin mt-3">Once you’ve got an idea, our team of talented designers is ready to transform it into a visual masterpiece. We specialize in creating unique, eye-catching designs that not only capture your brand’s identity but also resonate with your target audience.</p>

        <a href="#" class="decoration-dotted underline mt-5">Learn More about development <span class="after:content-['>'] text-green-700 text-lg font-extrabold"></span></a>
    </div>
</div>