---
import FooterIconList from '../components/FooterIconList.astro' 
---
<section class="my-10">
    <FooterIconList />
  <section class="w-full flex justify-evenly">
    <section class="flex flex-col gap-2">
      <div class="Title">
        <p class="text-lg font-bold text-white">Products</p>
      </div>
      <div class="list-none list-inside text-gray-400 font-thin">
        <a href="#"><li>Pricing</li></a>
        <a href="#"><li>Design Path</li></a>
        <a href="#"><li>API</li></a>
      </div>
    </section>
    <section class="flex flex-col gap-2">
      <div class="Title">
        <p class="text-lg font-bold text-white">Why Geshk?</p>
      </div>
      <div class="list-none list-inside text-gray-400 font-thin">
        <a href="#"><li>Customers</li></a>
        <a href="#"><li>Security</li></a>
        <a href="#"><li>Benefits</li></a>
      </div>
    </section>
    <section class="flex flex-col gap-2">
      <div class="Title">
        <p class="text-lg font-bold text-white">Benefits</p>
      </div>
      <div class="list-none list-inside text-gray-400 font-thin">
        <a href="#"><li>Blog</li></a>
        <a href="#"><li>About Us</li></a>
        <a href="#"><li>Benefits</li></a>
      </div>
    </section>
    <section class="flex flex-col gap-2">
      <div class="Title">
        <p class="text-lg font-bold text-white">Contact</p>
      </div>
      <div class="list-none list-inside text-gray-400 font-thin">
        <a href="#"><li>Support</li></a>
        <a href="#"><li>Forum</li></a>
        <a href="#"><li>Networks</li></a>
      </div>
    </section>
  </section>
</section>

<div class="w-full h-[1px] bg-white rounded-xl"></div>
