<div class="w-[40%] text-light font-bold flex flex-col gap-2 text-wrap">
    <p class="text-primary">Designed for you!</p>
    <p class="text-4xl">Working for your confort while being on <span class="text-contrast">Technological</span> world.</p>
    <p class="font-thin mb-2">Geshk is an enterprise who aims on offering solutions based on software development.</p>
</div>
