---
import EducationalBoxed from "../components/icons/EducationalBoxed.astro";
---

<div class="w-1/4 text-white">
    <EducationalBoxed/>
    <div class="mt-5">
        <p class="text-xs leading-none text-amber-400">Tutoring</p>
        <p class="text-3xl font-bold leading-none">Want to learn?</p>
        <p class="text-wrap font-thin mt-3">We offer personalized, one-on-one tutoring that not only addresses your specific academic needs but also builds your confidence. From the initial assessment to the ongoing learning progress, we work closely with you every step of the way to ensure your education.</p>

        <a href="#" class="decoration-dotted underline mt-5">Learn More about development <span class="after:content-['>'] text-amber-400 text-lg font-extrabold"></span></a>
    </div>
</div>