---
import Instagram from './icons/Instagram.astro'
import LinkedIn from './icons/LinkedIn.astro'
import Message from './icons/Message.astro'
---

<div class="w-full mt-10 mb-5 flex gap-4 justify-end px-5">
    <Instagram />
    <LinkedIn />
    <Message />
</div>