<div
  class="bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-indigo-950 bg-[size:10px_10px] w-20 h-20 rounded-lg shadow-lg flex items-center justify-center"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="#ffffff"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="icon icon-tabler icons-tabler-outline icon-tabler-school"
    ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
      d="M22 9l-10 -4l-10 4l10 4l10 -4v6"></path><path
      d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4"></path></svg
  >
</div>
